e-gallery-widget {
	position: relative;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	padding: 10px;

	* {
		box-sizing: border-box;
	}

	.e-gallery__item img {
		@include box(100%);
		object-fit: cover;
		&.parallax {
			height: 200%;
			top: -50%;
		}
	}
	figure {
		@include box(100%);
		margin: 0;
	}
}

/* Common style */
figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
	img {
		position: relative;
		display: block;
		min-height: 100%;
		max-width: 100%;
		opacity: 0.8;
	}

	figcaption,
	figcaption > a {
		@include absolute(top 0 left 0);
		@include box(100%);
	}
	figcaption {
		padding: 2em;
		color: #fff;
		text-transform: uppercase;
		font-size: 1.2em;
		@include prefix(backface-visibility, hidden, webkit);
		&:before,
		&:after {
			pointer-events: none;
		}
	}
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

figure h2 span {
	font-weight: 800;
}

figure h2,
figure p {
	margin: 0;
}

figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

@media screen and (max-width: 50em) {
	.content {
		padding: 0 10px;
		text-align: center;
	}
	.grid figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}


// Animation gradient effect
@keyframes e-gallery-gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}