.e-gallery__heading {
  &.Left {
    text-align: left;
  }
  &.Center {
    text-align: center;
  }
  &.Right {
    text-align: right;
  }

  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18.72px;
  }
  h4 {
    font-size: 16px;
  }

  .ql-size-huge {
    font-size: 2.5em;
  }

  .ql-size-large {
    font-size: 1.5em;
  }

  .ql-size-small {
    font-size: 0.75em;
  }

  * {
    padding: 0;
    margin: 0;
  }
}

.e-gallery-spacing-bottom {
  & > * {
    margin-bottom: 15px;
  }
}