.e-gallery-preview {
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI,
    Roboto, Helvetica Neue, sans-serif;
  margin-top: 50px;
  margin-bottom: 500px;

  margin: 0;
  padding: 0;
}

.simpleParallax {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
