.e-image-item.effect-layla {
	background: #18a367;
	&:hover, &.effect-hover {
		img {
			opacity: 0.7;
			@include prefix(transform, translate3d(0, 0, 0), webkit);
			@include prefix(transition-delay, 0.15s, webkit);
		}
		figcaption {
			&::before {
				opacity: 1;
				@include prefix(transform, scale(1), webkit);
			}
			&::after {
				opacity: 1;
				@include prefix(transform, scale(1), webkit);
				@include prefix(transition-delay, 0.15s, webkit);
			}
		}
		h2 {
			opacity: 1;
			@include prefix(transform, translate3d(0, 0, 0), webkit);
			@include prefix(transition-delay, 0.15s, webkit);
		}
		p {
			opacity: 1;
			@include prefix(transform, translate3d(0, 0, 0), webkit);
			@include prefix(transition-delay, 0.15s, webkit);
		}
	}
	img {
		width: 100%;
		height: calc(100% + 40px) !important;
		object-fit: cover;
		@include prefix(transform, translate3d(0, -30px, 0), webkit);
		@include prefix(transition, (opacity 0.35s, transform 0.35s), webkit);
	}
	figcaption {
		padding: 3em;
		@include flexbox();
		@include flex-direction(column);
		@include align-items(center);
		@include justify-content(center);
		&::before {
			content: "";
			@include absolute(top 50px right 30px bottom 50px left 30px);
			opacity: 0;
			border-top: 1px solid #fff;
			border-bottom: 1px solid #fff;
			@include prefix(transform, scale(0, 1), webkit);
			@include prefix(transform-origin, 0 0, webkit);
			@include prefix(transition, (opacity 0.35s, transform 0.35s), webkit);
		}
		&::after {
			content: "";
			@include absolute(top 30px right 50px bottom 30px left 50px);
			opacity: 0;
			border-right: 1px solid #fff;
			border-left: 1px solid #fff;
			@include prefix(transform, scale(1, 0), webkit);
			@include prefix(transform-origin, 100% 0, webkit);
			@include prefix(transition, (opacity 0.35s, transform 0.35s), webkit);
		}
	}
	h2 {
		@include prefix(transition, transform 0.35s, webkit);
		@include prefix(transform, translate3d(0, -30px, 0), webkit);
	}
	p {
		padding: 0.5em 2em;
		text-transform: none;
		opacity: 0;
		@include prefix(transform, translate3d(0, -10px, 0), webkit);
		@include prefix(transition, (opacity 0.35s, transform 0.35s), webkit);
	}
}