.e-image-item.effect-zoe {
	figcaption {
		top: auto;
		bottom: 0;
		padding: 1em;
		height: 3.75em;
		background: inherit;
		@include flexbox()
		@include justify-content(space-between);
		@include align-items(center);
		@include prefix(transition, transform 0.35s, webkit);
		@include prefix(transform, translate3d(0, 100%, 0), webkit);
	}
	h2 {
		float: left;
		@include prefix(transition, transform 0.35s, webkit);
		@include prefix(transform, translate3d(0, 200%, 0), webkit);
		display: inline-block;
	}
	&:hover, &.effect-hover {
		p.icon-links {
			a {
				&:hover {
					color: #252d31;
				}
				&:focus {
					color: #252d31;
				}
				@include prefix(transform, translate3d(0, 0, 0), webkit);
				&:nth-child(3) {
					@include prefix(transition-delay, 0.1s, webkit);
				}
				&:nth-child(2) {
					@include prefix(transition-delay, 0.15s, webkit);
				}
				&:first-child {
					@include prefix(transition-delay, 0.2s, webkit);
				}
			}
		}
		p {
			opacity: 1;
			bottom: 0;
		}
		figcaption {
			@include prefix(transform, translate3d(0, 0, 0), webkit);
		}
		h2 {
			@include prefix(transform, translate3d(0, 0, 0), webkit);
			@include prefix(transition-delay, 0.05s, webkit);
		}
	}
}