.e-image-item.effect-steve {
	z-index: auto;
	&:before {
		@include absolute(top 0 left 0);
		@include box(100%);
		z-index: -1;
		background: inherit;
		content: "";
		@include prefix(transition, opacity 0.35s, webkit);
		opacity: 0;
	}
	h2 {
		&:before {
			@include absolute(top 0 left 0);
			z-index: -1;
			@include box(100%);
			content: "";
			@include prefix(transition, opacity 0.35s, webkit);
		}
		background: #8a8a8a8f;
		position: relative;
		padding: 0.25em;
	}
	figcaption {
		z-index: 1;
	}
	img {
		opacity: 1;
		@include prefix(transition, transform 0.35s, webkit);
		@include prefix(transform, perspective(1000px) translate3d(0, 0, 0), webkit);
	}
	p {
		margin-top: 1em;
		padding: 0.5em;
		font-weight: 800;
		opacity: 0;
		@include prefix(transition, (opacity 0.35s, transform 0.35s), webkit);
		@include prefix(transform, scale3d(0.9, 0.9, 1), webkit);
	}
	&:hover, &.effect-hover {
		&:before {
			opacity: 1;
		}
		img {
			@include prefix(transform, perspective(1000px) translate3d(0, 0, 21px), webkit);
		}
		h2 {
			&:before {
				opacity: 0;
			}
		}
		p {
			opacity: 1;
			@include prefix(transform, scale3d(1, 1, 1), webkit);
		}
	}
}