.e-image-item.effect-lily {
	&:hover, &.effect-hover {
		img, p {
			opacity: 1;
		}
		img, h2, p {
			@include prefix(transform, translate3d(0, 0, 0), webkit);
		}
		p {
			@include prefix(transition-delay, 0.05s, webkit);
			@include prefix(transition-duration, 0.35s, webkit);
		}
	}
	figcaption {
		text-align: left;
	}
	img {
		max-width: none;
		width: calc(100% + 50px) !important;
		opacity: 0.7;
		@include prefix(transition, (opacity 0.35s, transform 0.35s), webkit o);
		@include prefix(transform, translate3d(-40px, 0, 0), webkit);
	}
	h2,	p {
		@include prefix(transform, translate3d(0, 40px, 0), webkit);
	}
	h2 {
		@include prefix(transition, transform 0.35s, webkit o);
	}
	p {
		color: rgba(255, 255, 255, 0.8);
		opacity: 0;
		@include prefix(transition, (opacity 0.2s, transform 0.35s), webkit o);
	}
}