.e-image-item.effect-winston {
	background: #162633;
	text-align: left;
	img {
		@include prefix(transition, opacity 0.45s, webkit);
		@include prefix(backface-visibility, hidden, webkit);
	}
	figcaption {
		&::before {
			@include absolute(top 0 left 0);
			@include box(100%);
			//background: url(../img/triangle.svg) no-repeat center center;
			background-size: 100% 100%;
			content: "";
			@include prefix(transition, (opacity 0.45s, transform 0.45s), webkit);
			@include prefix(transform, rotate3d(0, 0, 1, 45deg), webkit);
			@include prefix(transform-origin, 0 100%, webkit);
		}
	}
	h2 {
		@include prefix(transition, transform 0.35s, webkit);
		@include prefix(transform, translate3d(0, 20px, 0), webkit);
	}
	p {
		@include absolute(right 0 bottom 0);
		padding: 0 1.5em 7% 0;
		a {
			i {
				opacity: 0;
				@include prefix(transition, (opacity 0.35s, transform 0.35s), webkit);
				@include prefix(transform, translate3d(0, 50px, 0), webkit);
			}
		}
	}
	a {
		margin: 0 10px;
		color: #5d504f;
		font-size: 170%;
		&:hover {
			color: #cc6055;
		}
		&:focus {
			color: #cc6055;
		}
	}
	&:hover, &.effect-hover {
		h2 {
			@include prefix(transform, translate3d(0, 0, 0), webkit);
		}
		figcaption {
			&::before {
				opacity: 0.7;
				@include prefix(transform, rotate3d(0, 0, 1, 20deg), webkit);
			}
		}
		p {
			i {
				opacity: 1;
				@include prefix(transform, translate3d(0, 0, 0), webkit);
			}
			a {
				&:nth-child(3) {
					i {
						@include prefix(transition-delay, 0.05s, webkit);
					}
				}
				&:nth-child(2) {
					i {
						@include prefix(transition-delay, 0.1s, webkit);
					}
				}
				&:first-child {
					i {
						@include prefix(transition-delay, 0.15s, webkit);
					}
				}
			}
		}
	}
}