.effect-bubba {
	background: #9e5406;
	img {
		opacity: 0.7;
		@include prefix(transition, opacity 0.35s, webkit);
	}
	&:hover {
		img {
			opacity: 0.4;
		}
		figcaption {
			&::before {
				opacity: 1;
				@include prefix(transform, scale(1), webkit);
			}
			&::after {
				opacity: 1;
				@include prefix(transform, scale(1), webkit);
			}
		}
		h2 {
			opacity: 1;
			@include prefix(transform, translate3d(0, 0, 0), webkit);
		}
		p {
			opacity: 1;
			@include prefix(transform, translate3d(0, 0, 0), webkit);
		}
	}
	figcaption {
		&::before {
			@include absolute(top 30px right 30px bottom 30px left 30px);
			content: "";
			opacity: 0;
			@include prefix(transition, (opacity 0.35s, transform 0.35s), webkit);
			border-top: 1px solid #fff;
			border-bottom: 1px solid #fff;
			@include prefix(transform, scale(0, 1), webkit);
		}
		&::after {
			@include absolute(top 30px right 30px bottom 30px left 30px);
			content: "";
			opacity: 0;
			@include prefix(transition, (opacity 0.35s, transform 0.35s), webkit);
			border-right: 1px solid #fff;
			border-left: 1px solid #fff;
			@include prefix(transform, scale(1, 0), webkit);
		}
	}
	h2 {
		padding-top: 15%;
		@include prefix(transition, transform 0.35s, webkit);
		@include prefix(transform, translate3d(0, -20px, 0), webkit);
	}
	p {
		padding: 20px 2.5em;
		opacity: 0;
		@include prefix(transition, (opacity 0.35s, transform 0.35s), webkit);
		@include prefix(transform, translate3d(0, 20px, 0), webkit);
	}
}