.e-image-item.effect-kira {
	text-align: left;
	img {
		@include prefix(transition, opacity 0.35s, webkit);
	}
	figcaption {
		z-index: 1;
	}
	p {
		margin-top: 10px;
		padding: 1em 0.5em;
		font-weight: 600;
		font-size: 100%;
		line-height: 1.5;
		opacity: 0;
		@include prefix(transition, (opacity 0.35s, transform 0.35s), webkit);
		@include prefix(transform, translate3d(0, -10px, 0), webkit);
		a {
			margin: 0 0.5em;
			&:hover {
				opacity: 0.6;
			}
			&:focus {
				opacity: 0.6;
			}
		}
	}
	&:hover, &.effect-hover {
		p {
			opacity: 1;
			@include prefix(transform, translate3d(0, 0, 0), webkit);
		}
	}
}