.effect-oscar {
	background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
	background: linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
	img {
		opacity: 0.9;
		@include prefix(transition, opacity 0.35s, webkit);
	}
	figcaption {
		padding: 3em;
		background-color: rgba(58, 52, 42, 0.7);
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);
		@include flex-direction(column);
		@include prefix(transition, background-color 0.35s, webkit);
		&::before {
			@include absolute(top 30px right 30px bottom 30px left 30px);
			border: 1px solid #fff;
			content: "";
			opacity: 0;
			@include prefix(transition, (opacity 0.35s, transform 0.35s), webkit);
			@include prefix(transform, scale(0), webkit);
		}
		> div {
			@include flexbox();
			@include align-items(center);
			@include justify-content(center);
			@include flex-direction(column);
		}
	}
	h2 {
		margin: 20% 0 10px 0;
		@include prefix(transition, transform 0.35s, webkit);
		@include prefix(transform, translate3d(0, 100%, 0), webkit);
	}
	p {
		opacity: 0;
		@include prefix(transition, (opacity 0.35s, transform 0.35s), webkit);
		@include prefix(transform, scale(0), webkit);
	}
	&:hover {
		h2 {
			@include prefix(transform, translate3d(0, 0, 0), webkit);
		}
		figcaption {
			&::before {
				opacity: 1;
				@include prefix(transform, scale(1), webkit);
			}
			background-color: rgba(58, 52, 42, 0);
		}
		p {
			opacity: 1;
			@include prefix(transform, scale(1), webkit);
		}
		img {
			opacity: 0.4;
		}
	}
}